<div class="container form-border mt-5 p-4 ">
  <h3 class="display-5 text-center"><%= title %></h3> <%# Esto es para mandar informacion dinamica a un partial %>
  <%= link_to flats_path do %>
    <i class="fa-solid fa-backward ms-1"></i>
  <% end %>
  <%= simple_form_for (@flat) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :address%>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests%>
    <%= f.input :img_url, as: :file, class: "form-label-img" %>
    <%= f.button :submit, "Save", class: "btn btn-primary btn-form mt-3 m-auto"  %>
  <% end %>
</div>
