<h1> <%= @flat.name %></h1>
<h5><%= @flat.description %></h3>
<h5>Number of guests: <%= @flat.number_of_guests %></h5>
<h5>Price: <%= @flat.price_per_night %></h5>
<p><%= link_to "Back", flats_path %></p>
